</main>
<footer class="footer-style">
  
    <ul>    
      <p class="dev">Developed By</p>
      <li><a link to href="https://matthewsuzuki.com">&copy; Career Switcher</a></li>
    </ul>
</footer>
</body>
</html>