<%- include('./partials/header.ejs') %>
<div class="wrapper">
  <div class="header">
    <h2>About</h2>
  </div>
  <p class="content-para">
    Career Switcher is a collective group of men and women who come from diverse
    backgrounds. Our mission is to empower individuals who are employed and
    unemployed to make logical career decisions based on financial logic.
  </p>
  <br />
  <p class="content-para">
    Career Switcher realizes the struggles of everyday life and provides hands
    on guidance on which career may be best suited for your current living
    situation. We work to find educational grants, resources, and tools which
    give our users the best posibility to financial success.
  </p>
  <br />
  <p class="content-para">
    We believe that every individual has a unique set of skills and talents. A
    wise man once said, "We all have a field full of diamonds, all we need to do
    is to find a shovel, look for them, and dig them up." Career Switchers is
    here to help you find those diamonds for nothing in return except to ask you
    to help others who may need help along there journey of financial success.
  </p>
</div>

<%- include('./partials/footer.ejs') %>
