<%- include('./partials/header.ejs') %>
<div class="wrapper">
  <header class="header">
    <h1>Want a new Career?</h1>
    <h2>Make a decision Based on Logic</h2>
  </header>

  <form class="form" action="/calculate" method="POST">
    <div class="field">
      <label for="current-monthly-salary"
        >Input the amount your make at your current job</label
      >
      <input
        name="currentMonthlySalary"
        id="current-monthly-salary"
        type="text"
        placeholder="e.g. 4000"
        required
      />
    </div>

    <div class="field">
      <label for="years-at-current-job"
        >How many years do you want to work?</label
      >
      <input
        name="yearsAtCurrentJob"
        id="years-at-current-job"
        type="text"
        placeholder="e.g. 15"
        required
      />
    </div>

    <div class="field">
      <label for="current-living-expenses"
        >What are your current living expenses?</label
      >
      <input
        name="currentLivingExpenses"
        id="current-living-expenses"
        type="text"
        placeholder="e.g. 3500"
        required
      />
    </div>

    <div class="field">
      <label for="desired-career">What is your desired Career?</label>
      <input
        name="desiredCareer"
        id="desired-career"
        type="text"
        placeholder="e.g. Software Developer . . ."
        required
      />
    </div>

    <div class="field">
      <label for="expected-monthly-salary"
        >What is your estimated monthly salary in your new career</label
      >
      <input
        name="expectedMonthlySalary"
        for="expected-monthly-salary"
        type="text"
        placeholder="e.g. 5500"
        required
      />
    </div>

    <button class="button" type="submit">Calculate</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
