<%- include('./partials/header.ejs') %>
<div class="wrapper">
  <div class="header">
    <h2>Resources</h2>
  </div>

  <h3>Step 1. Find your Strengths</h3>
  <br />
  <p>
    Career Switcher provides a plethora of resources to help you get your foot
    in the door in whatever new career you are looking to pursue. Fist, if you
    are thinking about switching careers is the reason. Are you looking to
    change careers because you want to earn more money? Are you looking to
    change careers because you need a change in work type? The reason on why
    individuals want to enter different industries differs from person to
    person; However, really decide if the your desired career is something that
    matches your personality and skills. Career Switcher users have had great
    success with using the tools at
    <a href="https://www.careerfitter.com/free_test/careerbuilder?afid=1526"
      >CareerFitter</a
    >. You may find additional similar resourses elsewhere; However, we have
    found the most success with users who have used CareerFitter.
  </p>
  <br />
  <h3>Looking to start your own Company?</h3>
  <br />
  <p>
    Career Switcher advocates strongly for switching into a secure career where
    salary and benefits are stable and secure. Let's face it though, we do live
    in a gig economy these days and many skillsets that people obtain through
    either learning online or in a conventional class setting can be leveraged
    to earn money elsewhere. Years before Career Switcher was established, many
    individuals on our team worked for and utilized work from talented
    individuals on freelance websites such as Fiver. You can find talented
    indivualize to help you with just about anything, or you could become that
    individual who gets payed to do work for another company. Check it out
    below.
  </p>
  <br />
  <iframe
    src="https://tools.fiverr.com?searchbox-iframe=1&amp;affid=499595"
    border="0"
    scrolling="no"
    height="253px"
    width="100%"
    style="
      border: 0px;
      overflow: hidden;
      width: 921px;
      max-width: 280px;
      height: 253px;
      box-shadow: rgba(17, 17, 17, 0.12) 0px 16px 32px;
    "
    class="fasb-iframe-searchbox-widget"
    data-origwidth="100%"
    data-origheight="253px"
  ></iframe>
  <br />
  <br />
</div>

<%- include('./partials/footer.ejs') %>
