<%- include('./partials/header.ejs') %>
<div class="wrapper">
  <div class="header">
    <h2>Resources</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare, metus
      a laoreet aliquet, justo sem tincidunt turpis, nec blandit odio nisl non
      est. Maecenas ultrices nisl libero, et euismod massa finibus eget. Duis et
      odio eget mi eleifend molestie. Nullam aliquam justo at sem maximus, at
      pulvinar dui sodales. Duis vitae ante sapien. In urna ante, ullamcorper
      sit amet laoreet quis, mattis eu libero. Vestibulum in ex eu tortor dictum
      consequat. Phasellus quis consectetur nisi. Aliquam est ante, sollicitudin
      a auctor id, euismod in dolor. Pellentesque lacus nibh, varius id pretium
      sed, scelerisque imperdiet magna. Sed dignissim tortor sed faucibus
      egestas. Aenean accumsan quam non ipsum cursus gravida vitae non purus.
      Donec porta ipsum eget fermentum maximus. Vestibulum in ullamcorper
      sapien. Praesent et ligula nulla. Sed eu tortor ante. Nam tincidunt, magna
      eu dignissim cursus, tellus felis mollis metus, vel placerat risus dui at
      massa. Integer id lacinia metus. Phasellus vel tellus erat. In
      pellentesque, justo eu blandit maximus, magna nibh fermentum turpis, sit
      amet tempus odio erat vitae libero. Nullam quam felis, ultricies non
      tellus vitae, gravida gravida enim. Nulla ac tortor vel leo tristique
      ornare euismod in erat. Nullam in malesuada arcu. In non ante lacinia,
      venenatis lacus congue, laoreet urna. Curabitur eget accumsan ante. Sed
      consequat nibh vel convallis sagittis. Suspendisse non nunc ac enim
      consectetur lobortis eu sed elit. Etiam quis odio nisi. Sed posuere,
      tellus eget mattis rhoncus, dui elit eleifend elit, sed sodales lorem
      magna id quam. Sed velit nisl, faucibus scelerisque auctor eget, laoreet
      fermentum felis. Nunc imperdiet leo justo, at luctus ligula dictum sed.
      Vestibulum efficitur arcu lorem, quis malesuada est vestibulum ut. Integer
      eget nunc nec mauris efficitur dignissim. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos. Phasellus sed
      urna ultricies, blandit eros consectetur, mollis ligula. Fusce eget turpis
      urna. Nullam turpis lacus, feugiat commodo mattis ac, mattis eu eros.
      Donec egestas leo at rhoncus aliquet. Nulla sit amet dolor quis enim
      elementum faucibus ac eget massa. Quisque eget enim massa. Quisque
      ultricies euismod felis ac cursus. Suspendisse potenti. Donec sit amet
      odio sed nunc finibus dapibus. In laoreet viverra ante ac tristique.
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non
      risus ex. Donec feugiat nulla quis fringilla vulputate. Suspendisse ut
      porttitor urna, a condimentum magna. Integer quam dui, condimentum non
      justo et, pellentesque efficitur elit. Pellentesque vitae neque et ipsum
      mollis viverra at in orci.
    </p>
  </div>
  <div class="about-section"></div>
</div>

<%- include('./partials/footer.ejs') %>
