* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  outline: none;
  border: none;
  font-family: sans-serif;
}

.wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 60px 0;
  max-width: 600px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  margin-bottom: 20px;
}

.form-flex {
  display: flex;
  gap: 40px;
}

.form-left,
.form-right {
  flex: 1;
}

.field + .field {
  margin-top: 20px;
}

.field label {
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 4px;
}

.field input {
  border: 1px solid #ddd;
  padding: 0 24px;
  line-height: 52px;
  border-radius: 12px;
  color: #111;
}

.button {
  display: block;
  width: 300px;
  text-align: center;
  line-height: 54px;
  color: white;
  background: #090979;
  margin: 40px auto 0;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.button:hover {
  display: block;
  width: 300px;
  text-align: center;
  line-height: 54px;
  color: white;
  background: #08beef;
  margin: 40px auto 0;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.width {
  max-width: 90%;
}

.main {
  font-family: "Allerta Stencil", sans-serif;
  font-family: "Mukta", sans-serif;
}

/* Results */

.earnings {
  padding: 10px 0px;
  margin: 0 auto;
}
.results-head {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
}
.return-statement {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.results-header {
  padding-top: 5px;
}

.head-saving {
  padding-bottom: 10px;
  padding-top: 20px;
}

/* Navigation  */

#logo {
  font-family: "Allerta Stencil", sans-serif;
  color: white;
}

.navbar {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
  align-items: baseline;
  font-family: "Allerta Stencil", sans-serif;
}

.navbar h1 a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar ul a {
  display: flex;
  color: white;
  margin-left: 15px;

  text-decoration: none;
}

.navbar li {
  color: white;
  list-style: none;
}
@media (max-width: 800px) {
  .navbar {
    display: flex;
    align-items: center;
  }
}

.return-statement {
  padding-bottom: 20px;
}

/* Footer */

.footer-style {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
  align-items: baseline;
  justify-content: center;
  margin-top: auto;
  font-family: "Allerta Stencil", sans-serif;
}

.footer-style ul {
  display: flex;
}

.footer-style a {
  display: flex;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.footer-style li {
  color: white;
  list-style: none;
}

.dev {
  padding-left: 30px;
  color: white;
}

.content-para {
  line-height: 2px;
}
